@model IEnumerable<RegistrationPortal.Models.tblEmployeeDetail>

@{
    ViewBag.Title = "Table";
}

<h2>Employee details table</h2>

<div style="width:auto">
    <table id="empTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfJoining)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IFSCCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PFNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UANNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserPhotoPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentUploadPath)
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MiddleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfJoining)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IFSCCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PFNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UANNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserPhotoPath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentUploadPath)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#empTable").DataTable();
        });

    </script>

}